body{
	background-color:lightgrey;
}

li{
	display: inline;
}

li a{
	float:left;
	display:block;
	padding: 8px;
	background-color:white;
	font-size:25;
}

ul{
	list-style-type: none;
	margin:0;
	padding:20;
}

p{
	

}